node_modules/
public/js

.calva/
dist/

/target
/checkouts
/src/gen

pom.xml
pom.xml.asc
*.iml
*.jar
*.log
.shadow-cljs
.clj-kondo/.cache
.cpcache
.lsp
.idea
.lein-*
.nrepl-*
.DS_Store

.hgignore
.hg/
